@font-face {
  font-family: specimen-italic;
  src: url(/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
  font-family: specimen;
  src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf);
}
:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --font-family-italic: "specimen-italic", sans-serif;
  --font-family-regular: "specimen", sans-serif;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-regular);
  font-size: var(--font-size);
}
* body {
  background-color: var(--rose-100);
  color: var(--rose-900);
  transition: background-color 0.5s, color 0.5s;
  padding: 4rem;
}
* body section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 3rem;
}
* body section .container {
  flex: 3;
}
* body section .container h2 {
  margin-block: 2rem;
  font-size: 1.8rem;
}
* body section .container .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-wrap: wrap;
}
* body section .container .products .product {
  text-align: start;
  background-color: var(--rose-100);
  position: relative;
}
* body section .container .products .product img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
* body section .container .products .product h5 {
  margin-top: 2rem;
  font-size: 0.7rem;
  color: var(--rose-300);
}
* body section .container .products .product h3 {
  margin-block: 0.5rem;
  font-size: 1rem;
  color: var(--rose-900);
}
* body section .container .products .product button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem 1.25rem;
  background-color: var(--rose-100);
  border: 1px solid var(--rose-300);
  color: var(--rose-400);
  font-weight: 500;
  border-radius: 40px;
}
* body section .container .products .product button img {
  width: 20px;
  height: 20px;
  line-height: 25px;
}
* body section .container .products .product button:hover {
  background-color: var(--red);
  color: var(--rose-100);
  line-height: 30px;
}
* body section .container .products .product button:hover::before {
  content: url("/assets/images/icon-decrement-quantity.svg");
}
* body section .container .products .product button:hover::after {
  content: url("/assets/images/icon-increment-quantity.svg");
}
* body section .container .products .product p {
  margin-block: 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  color: var(--red);
}
* body section .cart {
  flex: 1;
  align-self: flex-start;
  background-color: white;
  height: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
* body section .cart h2 {
  font-size: 1.5rem;
  text-align: start;
  color: var(--red);
  margin: 1rem 0.8rem;
}
* body section .cart img {
  margin: 2rem;
}
* body section .cart p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--rose-500);
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */